.imgContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-start;
}
.listaContainer h1 {
  margin: 20px;
}
.listaContainer input {
  margin: 10px 20px;
  width: 60%;
}
